<link rel='stylesheet' href='/stylesheets/components/booksCollection.css' />
<div class='books-collection'>
    <div class='collection'>
        {{#each books}}
            <a class='book' href='/book/{{bookDescriptionId}}'>
                <img src='{{imgUrl}}' alt="Book cover">
                <p class='title text-ellipsis'>{{title}}</p>
            </a>
        {{/each}}
    </div>
    <div class='paging'>
        {{> pagination }}
    </div>
    {{!-- <select id="sort-list" name="sortList">
        <option value="a-z">a-z</option>
        <option value="z-a">z-a</option>
    </select> --}}
</div>