<div class='comment row'>
    <div class='author col-2'>
        <img class='avatar' src='https://photo-3-baomoi.zadn.vn/w1000_r1/2019_04_08_180_30272999/91cf33e6a3a64af813b7.jpg'/>
        <p class='name text-bold'>Ngô Bá Khá</p>
    </div>
    <div class='details col-10'>
        {{> rating}}
        <div class='content'>
            Sách hay lắm ạ, nhờ có nó mà em đổi đời. Từ 1 con người ăn chơi nhảy múa lên  ba, đòi nợ suốt ngày. Bây giờ em đang chăm chỉ làm lụng, ăn cơm nhà nước ngày ba bữa. Cảm ơn anh rất nhiều.
        </div>
        <div class='status text-green'>
            Đã trả sách
        </div>
    </div>
</div>