<link rel='stylesheet' href='/stylesheets/components/commentBox.css' />
<div class='comment-box'>
    <form method='post'>
        <input class='content' type='text' placeholder="Trải nghiệm của bạn về cuốn sách này"/>
        <input  class='btn-comment' type='submit' value=''/>
    </form>
</div>