<div class='comment row'>
    <div class='author col-2'>
        <img class='avatar' src='{{avatar}}'/>
        <p class='name text-bold'>{{name}}</p>
    </div>
    <div class='details col-10'>
        {{> rating}}
        <div class='content'>
            {{content}}
        </div>
        <div class='status text-green'>
            Đã trả sách
        </div>
    </div>
</div>