<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='/stylesheets/components/header.css'/>
<div class="header background-color-main custom-container">
    <div class='left h-100'>
        <a class='logo h-100' href='/'>
            <img class='h-75' src='/images/icons/hcmus.png' alt='HCMUS Logo'/>
        </a>
        {{#unless librarian}}
        <form class="search form-inline ">
            <input class="form-control form-control-sm" type="text" placeholder="Tìm kiếm"
                aria-label="Search">
            <svg style="cursor: pointer" class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
            </svg>
        </form>
        {{/unless}}
    </div>
    <div class='right'>
        {{#if username}}
        <span class='username text-bold'>{{username}}</span>
        <div class="dropdown">
            <img class='avatar' src={{avatar}} alt='avatar' />
            <button class="drop-btn"></button>
            <div class="dropdown-content">
                <a href="/user/student/info">Thông tin cá nhân</a>
                {{#unless librarian}}
                <a href="/user/professor/propose">Đề xuất mua sách</a>
                {{/unless}}
                {{#if librarian}}
                <a href="/user/librarian/thuthu">Quản lý</a>
                {{/if}}
                <a href="/auth/logout">Đăng xuất</a>
            </div>
        </div>
        {{else}}
        <a class='login-btn' href='/auth/login'>Đăng nhập</a>
        {{/if}}
    </div>
</div>