<div class="header background-color-main custom-container">
    <div class='left h-100'>
        <a class='logo h-100' href='/'>
            <img class='h-75' src='/images/icons/hcmus.png' alt='HCMUS Logo'/>
        </a>
    </div>
    <div class='right'>
        <button class='login-btn'>Đăng nhập</button>
    </div>
</div>