<link rel="stylesheet" href="/stylesheets/style_board_buyBooks.css">

<table class="table table-striped" style="position: relative;">
  <thead>
    <tr>
      <th scope="col">Bìa</th>
      <th scope="col">Tên Sách</th>
      <th scope="col"> Mã ISBN</th>
      <th scope="col">Tác Giả</th>
      <th scope="col">Duyệt</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <img src="https://img0-placeit-net.s3-accelerate.amazonaws.com/uploads/stage/stage_image/22739/optimized_large_thumb_children-stories-book-cover-541__1_.jpg" width="50px" height="70px" alt="">
      </td>
      <td>Dạy làm giàu</td>
      <td>2568256</td>
      <td>Bảo râu sì</td>
      <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" style="margin: 20px;"></td>
    </tr>
    <tr>
      <td>
        <img src="https://img0-placeit-net.s3-accelerate.amazonaws.com/uploads/stage/stage_image/22739/optimized_large_thumb_children-stories-book-cover-541__1_.jpg" width="50px" height="70px" alt="">
          
      </td>
      <td>Dạy làm giàu</td>
      <td>2568256</td>
      <td>Bảo râu sì</td>
      <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" style="margin: 20px;"></td>
      
    </tr>
    <tr>
      <td>
        <img src="https://img0-placeit-net.s3-accelerate.amazonaws.com/uploads/stage/stage_image/22739/optimized_large_thumb_children-stories-book-cover-541__1_.jpg" width="50px" height="70px" alt="">

      </td>
      <td>Dạy làm giàu</td>
      <td>2568256</td>
      <td>Bảo râu sì</td>
      <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" style="margin: 20px;"></td>
      
    </tr>
  </tbody>
</table>