
<div class="row">
    <div class="col" >
        <form>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Tên Sách</label>
                <div class="col-sm-8">
                <input type="text"  class="form-control" value="abc">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Mã ISBN</label>
                <div class="col-sm-8">
                <input type= "text" class="form-control" placeholder="123456">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Số Lượng</label>
                <div class="col-sm-8">
                <input type= "text" class="form-control" placeholder="1">
                </div>
            </div>
             <div class="form-group row">
                <label class="col-sm-3 col-form-label">Tag</label>
                <div class="col-sm-8">
                <input type= "text" class="form-control" placeholder="C">
                </div>
            </div>
        </form>
    </div>
    <div class="col-3">
        <div style="border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    width: 150px;
    height: 200px;">
            <img src="https://img0-placeit-net.s3-accelerate.amazonaws.com/uploads/stage/stage_image/22739/optimized_large_thumb_children-stories-book-cover-541__1_.jpg" width="150px" height="200px" alt="">
        </div>
        
    </div>
</div>

<div>
    <br>
    <div>Mô Tả</div>
    <textarea name="descrive" id="" cols="62" rows="10" class="describe"></textarea>
</div>


  <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Thêm Sách</button>
      </div>
    </div>