<link rel="stylesheet" href="/stylesheets/commons/button.css">
<link rel="stylesheet" href="/stylesheets/style_board_borrowing.css">

<div style="margin-bottom: 10px;">Danh sách đăng kí mượn:</div>

<div class="input-group mb-3 search-input" >
  
  <input type="text" class="form-control" placeholder="Tên người mượn" aria-label="Tìm kiếm" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">Tìm kiếm</button>
  </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3 search-result-acc">
            <ul style="list-style-type:none;">
              <li>Hao Quang</li>
            </ul>
        </div>
        <div class="col search-result-books" >
            <ul style="list-style-type:none;">
              <li>Dạy Làm Giàu</li>
            </ul>
        </div>
    </div>
    
</div>

<form>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Người Mượn</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" placeholder="abc">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Ngày Mượn</label>
    <div class="col-sm-10">
      <input type= "text" class="form-control" placeholder="dd/mm/yyyy">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Ngày Trả</label>
    <div class="col-sm-10">
      <input type= "text" class="form-control" placeholder="dd/mm/yyyy">
    </div>
  </div>
</form>

<div class="form-group row float-right">
      <div class="col-sm-10">
        <button type="submit" class="btn bg-danger text-white btn-nowrap">Cho Mượn</button>
      </div>
</div>