<link rel="stylesheet" href="/stylesheets/commons/button.css">
<link rel="stylesheet" href="/stylesheets/style_board_give_back.css">

<div class="input-group mb-3 search-input" >
  
  <input type="text" class="form-control" placeholder="Tên người mượn" aria-label="Tìm kiếm" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">Tìm kiếm</button>
  </div>
</div>

<table class="table table-striped" style="position: relative;">
  <thead>
    <tr>
      <th scope="col">Bìa</th>
      <th scope="col">Tên Sách</th>
      <th scope="col">Tác Giả</th>
      <th scope="col">Hạn Trả</th>
      <th scope="col">Tiền Phạt</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <img src="https://img0-placeit-net.s3-accelerate.amazonaws.com/uploads/stage/stage_image/22739/optimized_large_thumb_children-stories-book-cover-541__1_.jpg" width="50px" height="70px" alt="">
      </td>
      <td>Dạy làm giàu</td>
      <td>Bảo râu sì</td>
      <td>1/5/2020</td>
      <td>0đ</td>
    </tr>
    <tr>
      <td>
        <img src="https://img0-placeit-net.s3-accelerate.amazonaws.com/uploads/stage/stage_image/22739/optimized_large_thumb_children-stories-book-cover-541__1_.jpg" width="50px" height="70px" alt="">
          
      </td>
      <td>Dạy làm giàu</td>
      <td>Bảo râu sì</td>
      <td>1/5/2020</td>
      <td>0đ</td>
    </tr>
    <tr>
      <td>
        <img src="https://img0-placeit-net.s3-accelerate.amazonaws.com/uploads/stage/stage_image/22739/optimized_large_thumb_children-stories-book-cover-541__1_.jpg" width="50px" height="70px" alt="">

      </td>
      <td>Dạy làm giàu</td>
      <td>Bảo râu sì</td>
      <td>1/5/2020</td>
      <td>0đ</td>
    </tr>
  </tbody>
</table>

<div><span>Tiền Phạt:</span> <span>0đ</span></div>
 <div class="form-group row float-right">
      <div class="col-sm-10">
        <button type="submit" class="btn bg-danger text-white btn-nowrap">Trả Sách</button>
      </div>
</div>