
<div class="nav flex-column nav-pills nav_vertical_thuthu " id="v-pills-tab" role="tablist" aria-orientation="vertical" >
  <a class="nav-link active nav-link-clicked" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Tìm kiếm</a>
  <a class="nav-link nav-link-clicked" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Thêm tài khoản</a>
  <a class="nav-link nav-link-clicked" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Mượn sách</a>
  <a class="nav-link nav-link-clicked" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Trả sách</a>
  <a class="nav-link nav-link-clicked" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Thêm sách</a>
  <a class="nav-link nav-link-clicked" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Yêu cầu mua sách</a>

</div>

