<link rel="stylesheet" href="/stylesheets/style_nav_vertical_thuthu.css">

<nav class="nav nav-pills  flex-column nav_vertical_thuthu sticky-top">
  <a class="nav-item nav-link active" href="/users/thuthu">Tìm kiếm</a>
  <a class="nav-item nav-link" href="/users/thuthuadd">Thêm tài khoản</a>
  <a class="nav-item nav-link" href="#">Mượn sách</a>
  <a class="nav-item nav-link" href="#">Trả sách</a>
  <a class="nav-item nav-link" href="#">Thêm sách</a>
  <a class="nav-item nav-link" href="#">Yêu cầu mua sách</a>
</nav>

