<link rel="stylesheet" href="/stylesheets/style_nav_vertical_thuthu.css">
<div class="nav flex-column nav-pills nav_vertical_thuthu sticky-top" id="v-pills-tab" role="tablist" aria-orientation="vertical" >
  <a class="nav-link active nav-link-clicked" id="v-pills-search-tab" data-toggle="pill" href="v-pills-search" role="tab" aria-controls="v-pills-search" aria-selected="true">Tìm kiếm</a>
  <a class="nav-link nav-link-clicked" id="v-pills-addAccounts-tab" data-toggle="pill" href="v-pills-addAccounts" role="tab" aria-controls="v-pills-addAccounts" aria-selected="false">Thêm tài khoản</a>
  <a class="nav-link nav-link-clicked" id="v-pills-muon-tab" data-toggle="pill" href="v-pills-muon" role="tab" aria-controls="v-pills-muon" aria-selected="false">Mượn sách</a>
  <a class="nav-link nav-link-clicked" id="v-pills-tra-tab" data-toggle="pill" href="v-pills-tra" role="tab" aria-controls="v-pills-tra" aria-selected="false">Trả sách</a>
  <a class="nav-link nav-link-clicked" id="v-pills-themsach-tab" data-toggle="pill" href="v-pills-themsach" role="tab" aria-controls="v-pills-themsach" aria-selected="false">Thêm sách</a>
  <a class="nav-link nav-link-clicked" id="v-pills-muasach-tab" data-toggle="pill" href="v-pills-muasach" role="tab" aria-controls="v-pills-muasach" aria-selected="false">Yêu cầu mua sách</a>

</div>

