<link rel="stylesheet" href="/stylesheets/style_nav_vertical_thuthu.css">

<nav class="nav nav-pills  flex-column nav_vertical_thuthu sticky-top">
  <a class="nav-item nav-link" id="item-thuthu" href="/users/thuthu">Tìm kiếm</a>
  <a class="nav-item nav-link" id="item-add" href="/users/thuthuadd">Thêm tài khoản</a>
  <a class="nav-item nav-link" id="item-muon" href="/users/thuthumuon">Mượn sách</a>
  <a class="nav-item nav-link" id="item-tra" href="/users/trasach">Trả sách</a>
  <a class="nav-item nav-link" id="item-them" href="/users/themsach">Thêm sách</a>
  <a class="nav-item nav-link" id="item-mua" href="/users/yeucaumua">Yêu cầu mua sách</a>
</nav>

