<nav class="nav nav-tabs flex-column nav-pills size_box">
    <a class="nav-item nav-link" id="student-info" href="/user/student/info">Thông tin chung</a>
    <a class="nav-item nav-link" id="student-borrow" href="/user/student/borrow">Sách đang mượn</a>
    <a class="nav-item nav-link" id="student-borrowRequest" href="/user/student/borrowRequest">Đăng kí mượn sách</a>    
    <a class="nav-item nav-link" id="student-review" href="/user/student/myReview">Đánh giá của tôi</a>
    <a class="nav-item nav-link" id="student-changePassword" href="/user/student/changePassword">Đổi mật khẩu</a>
</nav>