<form action="/user/student/changePassword" method="POST"> 
    <div class="form-group row">
        <label for="oldPassword" class="col-sm-3 col-form-label">Mật khẩu cũ</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" name="oldP" id="oldPassword">
        </div>
    </div>
    <div class="form-group row">
        <label for="newPassword" class="col-sm-3 col-form-label">Mật khẩu mới</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" name="newP" id="newPassword">
        </div>
    </div>
    <div class="form-group row">
        <label for="reEnterPassword" class="col-sm-3 col-form-label">Nhập lại mật khẩu</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" name="confirmP" id="reEnterPassword">
        </div>
    </div>
    <div class="form-group row" id="changePassword-message">
        
    </div>
    <button type="submit" class="btn btn-primary" style="float:right">Cập nhật</button>
</form>