<form>
    <div class="form-group row">
        <label for="oldPassword" class="col-sm-3 col-form-label">Mật khẩu cũ</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" id="oldPassword">
        </div>
    </div>
    <div class="form-group row">
        <label for="newPassword" class="col-sm-3 col-form-label">Mật khẩu mới</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" id="newPassword">
        </div>
    </div>
    <div class="form-group row">
        <label for="reEnterPassword" class="col-sm-3 col-form-label">Nhập lại mật khẩu</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" id="reEnterPassword">
        </div>
    </div>
    <div class="form-group row" style="float:right">
        <div class="col">
            <button type="submit" class="btn btn-primary">Cập nhật</button>
        </div>
    </div>
</form>