<div class="container">

    <ul class="list_book" style="list-style-type:none;">
        <li class="name_row">
            <div class="row col_box">
                <div class="col-2">Bìa</div>
                <div class="col-5">Tên sách</div>
                <div class="col-3">Tác giả</div>
                <div class="col">Hạn trả</div>
            </div>
        </li>
        <li>
            <div class="row" style="text-align: center;" data-toggle="collapse" href="#collapse_info_book_item0"
                role="button" aria-expanded="false" aria-controls="collapse_info_book_item0">
                <div class="col-2">
                    <img src="https://img0-placeit-net.s3-accelerate.amazonaws.com/uploads/stage/stage_image/22739/optimized_large_thumb_children-stories-book-cover-541__1_.jpg"
                        width="50px" height="70px" alt="">
                </div>
                <div class="col-5">
                    Dạy làm giàu
                </div>
                <div class="col-3">
                    Bảo râu xì
                </div>
                <div class="col">
                    1/5/2020
                </div>
            </div>
            <div class="collapse" id="collapse_info_book_item0">
                <div class="card card-body style_card">
                    <div class="row">
                        <span style="padding-right: 20px;">Thông tin thêm: </span>
                        <ul style="list-style-type: disc;">
                            <li>Nhà xuất bản: Bảo râu xì</li>
                            <li>Ngày xuất bản: 12/12/2012</li>
                            <li>kích thước: 190 x 264 x 11 mm</li>
                            <li>Số trang: 200 trang</li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="col-3" style="padding-left: 0px;">Số lần được gia hạn:</div>
                        <div class="col">1</div>
                    </div>
                    <div class="row">
                        <div class="col-8"></div>
                        <button id="btn_giahan_0" class="btn btn-primary col-2" style="margin-right: 2px;"
                            data-toggle="collapse" aria-controls="collapse_info_book_item0"
                            href="#collapse_info_book_item0">Gia hạn</button>
                        <button id="btn_trasach_0" class="btn btn-primary col">Trả sách</button>
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="row" style="text-align: center;" data-toggle="collapse" href="#collapse_info_book_item1"
                role="button" aria-expanded="false" aria-controls="collapse_info_book_item1">
                <div class="col-2">
                    <img src="https://img0-placeit-net.s3-accelerate.amazonaws.com/uploads/stage/stage_image/22739/optimized_large_thumb_children-stories-book-cover-541__1_.jpg"
                        width="50px" height="70px" alt="">
                </div>
                <div class="col-5">
                    Dạy làm giàu
                </div>
                <div class="col-3">
                    Bảo râu xì
                </div>
                <div class="col">
                    1/5/2020
                </div>
            </div>
            <div class="collapse" id="collapse_info_book_item1">
                <div class="card card-body style_card">
                    <div class="row">
                        <span style="padding-right: 20px;">Thông tin thêm: </span>
                        <ul style="list-style-type: disc;">
                            <li>Nhà xuất bản: Bảo râu xì</li>
                            <li>Ngày xuất bản: 12/12/2012</li>
                            <li>kích thước: 190 x 264 x 11 mm</li>
                            <li>Số trang: 200 trang</li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="col-3" style="padding-left: 0px;">Số lần được gia hạn:</div>
                        <div class="col">1</div>
                    </div>
                    <div class="row">
                        <div class="col-8"></div>
                        <button id="btn_giahan_0" class="btn btn-primary col-2" style="margin-right: 2px;"
                            data-toggle="collapse" aria-controls="collapse_info_book_item1"
                            href="#collapse_info_book_item1">Gia hạn</button>
                        <button id="btn_trasach_0" class="btn btn-primary col">Trả sách</button>
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="row" style="text-align: center;" data-toggle="collapse" href="#collapse_info_book_item2"
                role="button" aria-expanded="false" aria-controls="collapse_info_book_item2">
                <div class="col-2">
                    <img src="https://img0-placeit-net.s3-accelerate.amazonaws.com/uploads/stage/stage_image/22739/optimized_large_thumb_children-stories-book-cover-541__1_.jpg"
                        width="50px" height="70px" alt="">
                </div>
                <div class="col-5">
                    Dạy làm giàu
                </div>
                <div class="col-3">
                    Bảo râu xì
                </div>
                <div class="col">
                    1/5/2020
                </div>
            </div>
            <div class="collapse" id="collapse_info_book_item2">
                <div class="card card-body style_card">
                    <div class="row">
                        <span style="padding-right: 20px;">Thông tin thêm: </span>
                        <ul style="list-style-type: disc;">
                            <li>Nhà xuất bản: Bảo râu xì</li>
                            <li>Ngày xuất bản: 12/12/2012</li>
                            <li>kích thước: 190 x 264 x 11 mm</li>
                            <li>Số trang: 200 trang</li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="col-3" style="padding-left: 0px;">Số lần được gia hạn:</div>
                        <div class="col">1</div>
                    </div>
                    <div class="row">
                        <div class="col-8"></div>
                        <button id="btn_giahan_0" class="btn btn-primary col-2" style="margin-right: 2px;"
                            data-toggle="collapse" aria-controls="collapse_info_book_item2"
                            href="#collapse_info_book_item2">Gia hạn</button>
                        <button id="btn_trasach_0" class="btn btn-primary col">Trả sách</button>
                    </div>
                </div>
            </div>
        </li>

    </ul>
</div>