<link rel='stylesheet' href='/stylesheets/components/commentBox.css' />
<link rel='stylesheet' href='/stylesheets/components/rating.css' />
<div class="container">

    <ul class="list_book" style="list-style-type:none;">
        <li class="name_row">
            <div class="row col_box">
                <div class="col-2">Bìa</div>
                <div class="col-5">Tên sách</div>
                <div class="col-3">Tác giả</div>
                <div class="col">Trạng thái</div>
            </div>
        </li>
        <li>
            <div class="row" style="text-align: center;" data-toggle="collapse" href="#collapse_review_book_item0"
                role="button" aria-expanded="false" aria-controls="collapse_review_book_item0">
                <div class="col-2">
                    <img src="https://img0-placeit-net.s3-accelerate.amazonaws.com/uploads/stage/stage_image/22739/optimized_large_thumb_children-stories-book-cover-541__1_.jpg"
                        width="50px" height="70px" alt="">
                </div>
                <div class="col-5">
                    Dạy làm giàu
                </div>
                <div class="col-3">
                    Bảo râu xì
                </div>
                <div class="col">
                    đã đánh giá
                </div>
            </div>
            <div class="collapse" id="collapse_review_book_item0">
                <div class=" style_card card card-body style_card details">
                    <div class="rating">
                        <span>☆</span>
                        <span>☆</span>
                        <span class="active">☆</span>
                        <span>☆</span>
                        <span>☆</span>
                    </div>
                    <div class="content">
                        Sách hay lắm ạ, nhờ có nó mà em đổi đời. Từ 1 con người ăn chơi nhảy múa lên ba, đòi nợ suốt
                        ngày. Bây giờ em đang chăm chỉ làm lụng, ăn cơm nhà nước ngày ba bữa. Cảm ơn anh rất nhiều.
                    </div>

                </div>
            </div>
        </li>
        <li>
            <div class="row" style="text-align: center;" data-toggle="collapse" href="#collapse_review_book_item1"
                role="button" aria-expanded="false" aria-controls="collapse_review_book_item1">
                <div class="col-2">
                    <img src="https://img0-placeit-net.s3-accelerate.amazonaws.com/uploads/stage/stage_image/22739/optimized_large_thumb_children-stories-book-cover-541__1_.jpg"
                        width="50px" height="70px" alt="">
                </div>
                <div class="col-5">
                    Dạy làm giàu
                </div>
                <div class="col-3">
                    Bảo râu xì
                </div>
                <div class="col">
                    Chưa đánh giá
                </div>
            </div>
            <div class="collapse" id="collapse_review_book_item1">
                <div class="card card-body style_card details">
                    <div class="rating">
                        <div class="for-rate">
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                        </div>
                    </div>
                    <div class='comment-box'>
                        <form method='post'>
                            <input class='content' type='text' placeholder="Trải nghiệm của bạn về cuốn sách này" />
                            <input class='btn-comment' type='submit' value='' />
                        </form>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>