<!DOCTYPE html>
<html>
  <head>
    <title>Thư viện Đại học Khoa học tự nhiên</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="header">Đây là header</h1>
    <div class="body">
      {{{body}}}
    </div>
    <h1 class="footer">Đây là footer</h1>
  </body>
</html>