<link rel='stylesheet' href='/stylesheets/components/headline.css' />
<link rel='stylesheet' href='/stylesheets/home.css' />
{{> headline}}
<div class='show-page row'>
    <div class='col-3 left'>
        {{> categories}}
    </div>
    <div class='col-9 right'>
        {{> booksCollection}}
    </div>
</div>