<!DOCTYPE html>
<html>
  <head>
    <title>Thư viện Đại học Khoa học tự nhiên</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Đây là header</h1>
    {{{body}}}
    <h1>Đây là footer</h1>
  </body>
</html>
