<link rel="stylesheet" href="/stylesheets/style_board_addBooks.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-3 ">
            {{> nav_vertical}}
        </div>
        <div class="col board" >
            {{> librarian_board_add_books}}
        </div>
    </div>
    
</div>