<link rel="stylesheet" href="/stylesheets/style_board.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-3 ">
            {{> nav_vertical}}
            <script>
                item = document.getElementById("item-mua");
                item.classList.add("active");   
            </script>
        </div>
        <div class="col board" >
            {{> librarian_board_buy}}
        </div>
    </div>
    
</div>