<link rel="stylesheet" href="/stylesheets/style_board_add.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-3 ">
            {{> nav_vertical}}
        </div>
        <div class="col" style="padding:0px;">
            {{> librarian_board_add_accounts}}
        </div>
    </div>
    
</div>