<link rel='stylesheet' href='/stylesheets/components/headline.css' />
<link rel='stylesheet' href='/stylesheets/login.css' />
{{> headline}}
<div class='login'>
    <form class='form-login' method='post' action='/auth/login'>
        <div class='intro'>
            <span class='text-nowrap'>
                Hệ thống thư viện
            </span>
            <br>
            <span class='text-nowrap'>
                Khoa CNTT
            </span>
        </div>
        <section class='credentials'>
            <input type="text" placeholder="Tên đăng nhập" name="username"/>
            <input type="password" placeholder="Mật khẩu" name="password"/>
        </section>
        <input class='submit-btn background-color-main' type="submit" value="Đăng nhập"/>
    </form>
</div>