<link rel="stylesheet" href="/stylesheets/style_board.css">
<link rel="stylesheet" href="/stylesheets/components/headline.css">
<div class="container-fluid">
    <div class="row">
        {{> headline}}
    </div>
    
    <div class="row board">
        {{> professor_board_propose}}
    </div>
</div>