.nav_vertical_thuthu{
    background-color: white;
    padding: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }