
.board{
  
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px ;
    padding: 20px;
    background-color: white;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
}

.add-grid{
    height: 400px;
    margin-bottom: 15px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
}
  