.size_box {
    background-color: white;
    padding: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 720px;
    min-height: 480px;
    overflow:auto;
}

.col_box div{
    border: 1px solid white; 
    background-color: rgb(121, 121, 121); 
    text-align: center; 
}
.list_book>li:not(name_row){
    border: 1px solid #BDBDBD;
    background-color: #BDBDBD;
    margin: 5px 0px;
}

.list_book {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.list_book li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
.style_card{
    padding: 4px 15px 4px 36px;
}
