.rating {
    font-size: 24px;
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating > .star {
    display: inline-block;
    position: relative;
    width: .7em;
    cursor: pointer;
}

.rating > .star.active:before,
.rating > .star.active ~ .star:before,
.rating.for-rate > .star.active:before,
.rating.for-rate > .star.active ~ .star:before,
.rating.for-rate > .star:hover:before,
.rating.for-rate > .star:hover ~ .star:before {
    content: "\2605";
    position: absolute;
    color: #F1C40F;
}